html {
    font-size: 62.5%;       /* DEFAULT */
    box-sizing: border-box; /* DEFAULT */
    background-color: #0A192F;
}

*, *:before, *:after {
    box-sizing: inherit;    /* DEFAULT */
}

body {
    font-size: 1.6rem;        /* DEFAULT */   
    overflow-x: hidden;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}