@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// 24px --> 1.72vw
//310px --> 22.7vw

html {
    font-size: 62.5%;       /* DEFAULT */
    box-sizing: border-box; /* DEFAULT */
    background-color: #0A192F;
}

*, *:before, *:after {
    box-sizing: inherit;    /* DEFAULT */
}

body {
    font-size: 1.6rem;        /* DEFAULT */   
    overflow-x: hidden;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}