$font-amiko: 'Amiko', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', sans-serif;

$color-default: #00FFF0;

.NB--container {
    height: 70px;
    width: 100%;
}

.NB--inner_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.NB--home {
    .NB--home__sub {
        display: flex;
        align-items: center;
    }

    a {
        font-family: $font-roboto-mono;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 2px;
        text-decoration: none;
        color: $color-default; 
        border: 2px solid $color-default;
        border-radius: 10px;
        padding: 8px;
    }

    .NB--home__translate {
        margin-left: 3vw;
    }

    .NB--home__translate :hover {
        cursor: pointer;
    }
}

.NB--navigation {
    nav {
        display: flex;
    }

    a {
        font-family: $font-amiko;
        font-size: 20px;
        margin: 0 2vw;
        text-decoration: none;
        color: white;
        justify-items: center;
        &:last-child {
            margin-right: 0px;
        }
    }

    .NB--navigation__items {
        display: flex;
        align-items: center;
    }

    p {
        padding-left: 1rem;
    }
}

//Iphone 12
@media only screen and (min-width: 390px) and (max-width: 767px) {
    .NB--container {
        height: 40px;
    }

    .NB--home {
        a {
            font-size: 8px;
            border-radius: 7px;
        }
    }

    .NB--home__translate {
        svg {
            height: 15px;
            width: 17px;
        }
    }

    .NB--navigation {
        a {
            font-size: 10px;
        }

        svg {
            height: 15px;
            width: 15px;
        }
    }
}