@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// 24px --> 1.72vw
//310px --> 22.7vw

$font-amiko: 'Amiko', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', sans-serif;

$color-default: #00FFF0;
$color-phrase: #CCD6F6;

.SC--container {
    width: 310px;
    height: 520px;
    border-radius: 35px;
    background-color: #152C53;
    font-family: $font-roboto;
    text-align: center;
}

.SC--inner-container {
    height: 100%;
    padding: 0 34px;

    h1 {
        font-weight: bold;
        font-size: 24px;
        color: white;
    }

    h2 {
        font-weight: normal;
        font-size: 19px;
        color: white;
        padding-bottom: 10px;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    hr {
        border: 0;
        border-top: 3px solid #47618A;
        border-radius: 10px;
    }
}

.SC--desc{
    height: 117px;
}

.SC--AUX {
    display: flex;
    width: 193px;
    height: 38px;
    margin-bottom: 25px;

    p {
        font-family: $font-roboto;
        font-size: 19px;
        color: white;

        position: relative;
        top: -30%;
    }
}

//Iphone 12
@media only screen and (min-width: 390px) and (max-width: 767px) {
    .SC--container {
        width: 130px;
        height: 120px;
        border-radius: 10px;
    }

    .SC--inner-container {
        padding: 5px 0 0 0;
        
        h1 {
            width: 115px;
            font-size: 12px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 10px;
        }

        h2 {
            font-size: 9px;
        }

        img {
            width: 12px;
        }
    }

    .SC--desc {
        width: 110px;
        height: 40px;

        left: 50%;
        transform: translateX(10%);

        padding-bottom: 10px;
    }
}