// 24px --> 1.72vw
//310px --> 22.7vw

$font-amiko: 'Amiko', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', sans-serif;

$color-default: #00FFF0;
$color-phrase: #CCD6F6;

.SCD--container {
    width: 310px;
    height: 520px;
    border-radius: 35px;
    background-color: #152C53;
    font-family: $font-roboto;
    text-align: center;
}

.SCD--inner-container {
    height: 100%;
    padding: 0 34px;

    h1 {
        font-weight: bold;
        font-size: 24px;
        color: white;
    }

    h2 {
        font-weight: normal;
        font-size: 19px;
        color: white;
        padding-bottom: 10px;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    hr {
        border: 0;
        border-top: 3px solid #47618A;
        border-radius: 10px;
    }
}

.SCD--desc{
    height: 117px;
}

.SCD--AUX {
    display: flex;
    width: 193px;
    height: 38px;
    margin-bottom: 25px;

    p {
        font-family: $font-roboto;
        font-size: 19px;
        color: white;

        position: relative;
        top: -30%;
    }
}