// 24px --> 1.72vw
//310px --> 22.7vw

$font-amiko: 'Amiko', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', sans-serif;

$color-default: #00FFF0;
$color-phrase: #CCD6F6;

.SCM--container {
    width: 130px;
    height: 120px;
    border-radius: 10px;
    background-color: #152C53;
    font-family: $font-roboto;
    text-align: center;
}

.SCM--inner-container {
    height: 100%;
    padding: 5px 0 0 0;

    h1 {
        width: 115px;
        font-weight: bold;
        font-size: 12px;
        color: white;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 10px;
    }

    h2 {
        font-weight: normal;
        font-size: 9px;
        color: white;
        padding-bottom: 10px;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    img {
        width: 12px;
    }
}

.SCM--desc{
    width: 110px;
    height: 40px;

    left: 50%;
    transform: translateX(10%);

    padding-bottom: 10px;
}
