html {
    font-size: 62.5%;       /* DEFAULT */
    box-sizing: border-box; /* DEFAULT */
    background-color: #0A192F;
}

*, *:before, *:after {
    box-sizing: inherit;    /* DEFAULT */
}

body {
    font-size: 1.6rem;        /* DEFAULT */   
}