@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// 24px --> 1.72vw
//310px --> 22.7vw

$font-amiko: 'Amiko', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', sans-serif;

$color-default: #00FFF0;
$color-content: #A2A9C2;

.PC--container {
    width: 350px;
    height: 350px;
}

.PC--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PC--icons__item :hover {
    cursor: pointer;
    fill: $color-default;
}

.PC--text {
margin-top: -12px;

    h1, h2 {
        font-family: $font-roboto-mono;
        font-weight: normal;
    }

    h1 {
        font-size: 34px;
        height: 2.99vw;
        color: white;
    }

    h2 {
        font-size: 18px;
        height: 90px;
        color: $color-content;
        margin-top: -10px;
    }
}

.PC--status {
    text-align: center;
    svg {
        height: 35px;
    }
    h1 {
        margin-top: 2px;
    }
}

.PC--techs {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    margin-top: -0.5vw;

    p {
        font-weight: 300;
        font-size: 14px;
        color: $color-content;
    }
}