@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// 24px --> 1.72vw
//310px --> 22.7vw

$font-amiko: 'Amiko', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', sans-serif;

$color-default: #00FFF0;
$color-content: #A2A9C2;

.PC--container {
    width: 350px;
    height: 350px;
    background-color: #152C53;
    border-radius: 15px;
}

.PC--inner-container {
    height: 100%;
    padding: 15px 34px;
}

.PC--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PC--icons__github :hover {
    cursor: pointer;
    fill: $color-default;
}

.PC--text {
    margin-top: -12px;

    h1, h2 {
        font-family: $font-roboto-mono;
        font-weight: normal;
    }

    h1 {
        font-size: 34px;
        height: 40px;
        color: white;
    }

    h2 {
        font-size: 18px;
        height: 90px;
        color: $color-content;
        margin-top: -10px;
    }
}

.PC--status {
    text-align: center;
    svg {
        height: 35px;
    }
    h1 {
        font-family: $font-roboto-mono;
        margin-top: 2px;
    }
}

.PC--techs {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    margin-top: -0.5vw;

    p {
        font-family: $font-roboto-mono;
        font-weight: 300;
        font-size: 14px;
        color: $color-content;
    }
}

//Iphone 12
@media only screen and (min-width: 390px) and (max-width: 767px) {
    .PC--container {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

    .PC--inner-container {
        padding: 5px 10px;
    }

    .PC--icons__folder {
        svg {
            width: 15px;
            height: 13.13px;
        }
    }

    .PC--icons__github {
        svg {
            width: 15px;
            height: 15px;
        }
    }

    .PC--text {
        margin-top: -7px;

        h1 {
            font-size: 14px;
            height: 18px;
        }

        h2 {
            font-size: 7px;
            height: 38px;
            margin-top: -5px;
        }
    }

    .PC--status {
        svg {
            height: 15px;
        }

        h1 {
            font-size: 10px;
        }
    }

    .PC--techs {
        p {
            font-size: 6px;
        }
    }
}